.App {
  text-align: left;
}
a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
}
.tweet{
  padding: 5%;
  width: 50%;
  padding-bottom: 0%;
}

a.nostyle:visited {
  color: inherit;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.tweet-content{
  padding-top: 2%;
  padding-bottom: 2.5%;
  text-align: left;
  border-style: hidden hidden solid;
  border-color: #e6ffff;
}
.name-username-icon{
padding: 2.5%;
float: left;
width: 100%;
}
.profile-picture{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url('images/IMG-20160906-WA0003.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  float: left;
}
.name-username{
  float: left;
  font-size: 0.8em;
  padding-left: 2%;
}
.time-device{
padding-top: 2%;
font-size: 0.5em;
text-align: left;
padding-bottom: 2%;
border-style: hidden hidden solid;
border-color: #e6ffff;
}

.tweet-analytics{
  padding-bottom: 3%;
  padding-top: 2%;
  font-size:0.6em;
  text-align:left;
  padding-bottom: 1%;
  border-style: hidden hidden solid;
  border-color: #e6ffff;
}

.reply-retweet-like-share {
  padding-top: 2%;
  white-space: nowrap;
  overflow: scroll;
}

.name-username-icon> div {
  display: inline-block;
}
.reply-retweet-like-share > div {
  display: inline-block;
}

.reply{
  width: 25%;
}
.share{
  width: 25%;
}
.retweet{
  width: 25%;
} 
.like{
  width: 25%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
